# =========================
# mirror-sync Config File:
# =========================
# The config file uses same syntax as shell script.
declare -a MIRRORSYNC_SERVERS

MIRRORSYNC_SERVERS=("TV_BOX" "NOPE")

if [ "$VERBOSE" -ge 1 ] ;then
rsync_def="rsync --delete --progress -zzprve ssh"
else
rsync_def="rsync --delete -zzpre ssh"
fi

MIRRORSYNC_SERVER_TV_BOX_CMDLINE="${rsync_def} \"${DIR}\/\" ${USER}\@192.168.0.66:www/"
MIRRORSYNC_SERVER_NOPE_CMDLINE="${rsync_def} \"${DIR}\" ${USER}\@nope.org.tw:FTP/"
