# =========================
# mirror-sync Config File:
# =========================
# The config file uses same syntax as shell script.

declare -i SERVER_MAX_INDEX
declare -a SERVERS

SERVER_MAX_INDEX=1
SERVERS=("TV_BOX" "NOPE")

if [ "$VERBOSE" -ge 1 ] ;then
rsync_def="rsync --delete --progress -zzprve ssh"
else
rsync_def="rsync --delete -zzpre ssh"
fi

SERVER_TV_BOX_CMDLINE="${rsync_def} \"${DIR}\/\" ${USER}\@192.168.0.66:www/"
SERVER_NOPE_CMDLINE="${rsync_def} \"${DIR}\" ${USER}\@nope.org.tw:HTML/"
