[Unit]
Description=Uptime Recorder
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/bin/bash /usr/bin/uptimerecorder /var/log
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
